@keyframes movi{
    0%{
      transform: translate(0px , 0px);
    }
    50%{
        transform: translate(0px ,-10px);
    }
    100%{
        transform: translate(0px , 0px );
    }
}
@keyframes titulosMovimiento{
    0%{
        transform: translatex(0);
      }
    100%{
        transform: translatex(100%);
    }
}