*{
    margin: "0";
    padding: "0";
}

a{
    outline: none;
    text-decoration: none;
    list-style: none;
}

a:visited {
    color: $colorPrimario;
}

a:hover {
    box-sizing: border-box;
    width: auto;
    border-bottom: 1px solid;
    background:$colorHover;
    list-style: none;
}

h3{
    text-align: center;
}

ol , li{
    list-style: none;   
}
p{
    display:flex;
}
textarea{
    box-sizing: border-box;
}


