.icono{
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 10px;
    width: auto;
    height: auto;
    .icono__face{
        color: rgb(54, 54, 156);
    }
    .icono__whatsapp{
        color: rgb(70, 181, 29);
    }
    .icono__telegram{
        color: rgb(92, 208, 240);
    }
    .icono__twitter{
        color: rgb(9, 180, 210);
    }
    
}