.tarjeta1{
    display: flex;
    margin: 10px;
    @include tarjetaPropiedades(250px,1300px,rgb(255, 255, 255),rgba(255, 0, 0, 0));
    .tarjeta__img{
        @include imagenPropiedades(250px,800px);
    } 
    .tarjeta__texto{
        margin-left:5px;

    }
    p{
        box-sizing:border-box;
    }
    .tarjeta__boton{
        @include propiedadesBoton(rgb(255, 250, 250),rgb(21, 87, 187),auto,22px,5px);
        font-size: 12px;
        align-items: center;
        margin: 3px;
    }
}
   