.tarjeta1{
    display: flex;
    margin: 10px;
    @include tarjetaPropiedades(250px,1300px,rgb(255, 255, 255),rgba(255, 0, 0, 0));
    .tarjeta__img{
        @include imagenPropiedades(250px,650px);
        width: 60%;
        height:85%;
    } 
    .tarjeta__texto{
        margin-left:5px;
    }
    p{
        box-sizing:border-box;
    }
    .tarjeta__boton{
        @include propiedadesBoton(rgb(255, 250, 250),rgb(21, 87, 187),auto,auto,15px);
        font-size: 20px;
        padding: 2px;
    }
}

.tarjetas2{
    display: flex;
    margin: 10px;
    border: 5px;
    padding: 10px;
    width: 400px;
    height: 250px;
    .tarjeta2_texto{
        width: auto;
        height: auto;
    }
    .tarjeta2_icono{
        width: auto;
        height: auto;
        size: 100px;
        color: red;
        background-color: red;
        .tarjeta2_icono button{
            border-radius: 5px;
            background-color: red;
        }
    }
}

.tarjeta3{
    display: flex;
    margin: 10px;
    border: 5px;
    @include tarjetaPropiedades(250px,300px,rgb(255, 255, 255),rgba(255, 0, 0, 0)); 
    .tarjeta__texto{
        margin-left:5px;
    }
    p{
        box-sizing:border-box;
        padding-left: 10px ;
    }
    .tarjeta3__icono{
        font-size: 20px;
        border-radius: 55px;
        padding-right: 5px ;
        color: rgb(0, 0, 0);
    }
}
   
