.titulo{   
    font-size:11px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:$colorPrimario;
    text-align: center;
}

.tituloSecundario{
    font-size:10px;
    color:$colorPrimario;
    text-align:left;
    margin-left: 3px;
}

.titulosMovimiento{
    @extend .tituloSecundario;
    animation-name:titulosMovimiento;
    animation-duration: 1s;
    animation-direction:reverse ;    
}